<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <ng-container *ngFor="let sidebarItem of sidebarItems">
            <a *ngIf="sidebarItem.items.length === 0" [routerLink]="sidebarItem.link" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="{{sidebarItem.icon}}"></i>&nbsp;
                <span>{{ sidebarItem.label | translate }}</span>
            </a>
            <ng-container *ngIf="sidebarItem.items.length > 0">
                <ng-container *ngFor="let nestedItem of sidebarItem.items">
                    <div class="nested-menu">
                            <a class="list-group-item" (click)="addExpandClass(nestedItem.label)">
                                <i class="{{nestedItem.icon}}"></i>&nbsp;
                                <span>{{ nestedItem.label | translate }}</span>
                            </a>
                            <li class="nested" [class.expand]="showMenu === nestedItem.label">
                                <ul class="submenu">
                                    <a [routerLink]="nestedItem.link" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i class="{{nestedItem.icon}}"></i>&nbsp;
                                        <span>{{ nestedItem.label | translate }}</span>
                                    </a>
                                </ul>
                            </li>
                        </div>
                </ng-container>
            </ng-container>
        </ng-container>
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
